.env
.env.local
wimpex-firebase-adminsdk-fbsvc-5959ff730f.json
*.tsbuildinfo
dev-server.log
node_modules
.next
out
android/keystore/
android/keystore.properties
oracleJdk-26/
wimpex-release.keystore
*.keystore
*.jks
